<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ERROR PAGE</title>
    <style>
        body {
            background-color: black;
            color: red;
        }
        table td {
            vertical-align:top;
            border:solid 1px #FF0000;
            padding:5px;
        }
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>
<h1>Hibakezelő oldal</h1>
<table>
    <tr>
        <th id="errorField">Field</th>
        <th id="errorValue">Value</th>
    </tr>
    <tr>
        <td>Date</td>
        <td th:text="${timestamp}"/>
    </tr>
    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <td>Error</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"/>
    </tr>
    <tr>
        <td>Message</td>
        <td th:text="${message}"/>
    </tr>
    <tr>
        <td>Exception</td>
        <td th:text="${exception}"/>
    </tr>
    <tr>
        <td>Trace</td>
        <td>
            <pre th:text="${trace}"/>
        </td>
    </tr>
</table>
</body>
</html>
